black==21.10b0 --index-url https://pypi.tuna.tsinghua.edu.cn/simple;python_version>="3.6" and sys.platform!="win32"
pyupgrade==2.29.0 --index-url https://pypi.tuna.tsinghua.edu.cn/simple;python_version>="3.6" and sys.platform!="win32"
